body {
    background-color: darkcyan;
}
header {
    position: fixed;
    top: 0;
    width: 80%;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: gold;
}
nav li {
    display: inline;
    background-color: gold;
    padding: 10px;
    margin-right: 5px;
    border: 3px solid black;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
nav li a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
}

nav li:hover {
    color: gold;
    background-color: black;
    border: 3px solid gold;
}
nav li a:hover {
    color: gold;
}
footer {
    background-color: gainsboro;
    color: #ff00ff;
    text-align: center;
    clear: both;
}

header h2 {
    border: 2px solid gold;
    border-radius: 5px;
    text-align: center;
}

#largest {
    background-color: gold;
    padding: 6px;
}

main {
    float: left;
    width: 60%;
}
aside {
    float: right;
    width: 39%;
}
main h1 {
    text-align: center;
    color: gold;
    font-weight: 900;
}
.container,
header {
    width: 90%;
    margin: 0 auto;
}
#largeimg img {
    display: block;
    width: 80%;
    border-radius: 10px;
    margin: 150px auto 0 auto;
    overflow: hidden;
}

.flex-container {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    background-color: gold;
    justify-content: space-evenly;
    -webkit-justify-content: space-evenly;
    margin: 2em auto;
}
.flex-item {
    background-color: gold;
    border: 1px solid darkcyan;
    padding: .3em;
    width: 24%;
    text-align: center;
}
.flex-item img {
    width: 95%;
    border: 1px solid black;
    border-radius: 10px;
}
